USE [master]
GO
/****** Object:  Database [QuanLyShopQuanAo]    Script Date: 22/12/2018 22:02:04 ******/
CREATE DATABASE [QuanLyShopQuanAo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyShopQuanAo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QuanLyShopQuanAo.mdf' , SIZE = 7168KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyShopQuanAo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QuanLyShopQuanAo_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyShopQuanAo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyShopQuanAo]
GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_CheckTaiKhoan]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_CheckTaiKhoan]
(
	@tenTaiKhoan nvarchar(150),
	@matKhau nvarchar(150)
)
as
begin
	select *
	 from tblTaiKhoan
	 where TaiKhoan = @tenTaiKhoan and MatKhau = @matKhau
end
GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_LayDanhSachChiTietHoaDonNhap]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_LayDanhSachChiTietHoaDonNhap]
as
begin
	select cthd.MaHD, sp.MaSP, sp.Name, tk.MaTK, tk.Ten, ncc.MaNCC, ncc.TenNCC, NgayNhap, cthd.SoLuong, cthd.DonGia 
	from tblChiTietHoaDonNhap cthd
	inner join tblHoaDonNhap hdn on hdn.MaHD = cthd.MaHD
	inner join tblChiTietSP sp on sp.MaSP = cthd.MaSP
	inner join tblTaiKhoan tk on tk.MaTK = hdn.MaTK
	inner join tblNhaCungCap ncc on ncc.MaNCC = hdn.MaNCC
end
GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_LayDanhSachHoaDonMuaTheoMaTaiKhoan]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_LayDanhSachHoaDonMuaTheoMaTaiKhoan]
(
	@MaTK nvarchar(50)
)
as
begin
	select distinct(hdb.MaHD), hdb.TrangThai, hdb.TenNguoiNhan, hdb.DiaChi, hdb.NgayBan from tblHoaDonBan hdb
	inner join tblChiTietHoaDonBan cthdb on cthdb.MaHD = hdb.MaHD
	where MaTK = @MaTK
end

GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_LayDanhSachKhachHang]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_LayDanhSachKhachHang]
as
begin
	select * from tblKhachHang
end
GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_LayDanhSachMauSacTheoMa]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_LayDanhSachMauSacTheoMa]
(
	@MaSP nvarchar(50)
)
as
begin
	select ms.IDMauSac, ms.TenMauSac, spms.Images from tblMauSac ms
	inner join tblSanPhamMauSac spms on spms.IDMauSac = ms.IDMauSac
	where spms.IDSanPham = @MaSP
end

GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_LayDanhSachMenu]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_LayDanhSachMenu]
as
begin
	select * from tblMenu
end
GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_LayDanhSachNhomDoTuoi]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_LayDanhSachNhomDoTuoi]
as
begin
	select * from tblDoTuoi
end

GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_LayDanhSachNhomDoTuoiTheoMa]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_LayDanhSachNhomDoTuoiTheoMa]
(
	@MaSP nvarchar(50)
)
as
begin
	select * from tblDoTuoi dt
	inner join tblSanPhamDoTuoi spdt on spdt.IDNhomTuoi = dt.IDNhomTuoi
	where spdt.MaSP = @MaSP
end

GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_LayDanhSachNhomSanPham]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_LayDanhSachNhomSanPham]
as
begin
	select * from tblNhomSP
	order by Name asc
end
GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_LayDanhSachNhomSanPhamTheoMenu]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_LayDanhSachNhomSanPhamTheoMenu]
(
	@MainMenuID nvarchar(50)
)
as
begin
	select * from tblNhomSP
	where MainMenuID = @MainMenuID
end
GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_LayDanhSachSanPham]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_LayDanhSachSanPham]
as
begin
	select * from tblChiTietSP
end
GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_LayDanhSachSanPhamBanChay]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_LayDanhSachSanPhamBanChay]
as
begin
	select * from tblChiTietSP
	where MaSP in (select top 4 MaSP as sl  from tblChiTietHoaDonBan cthdb
					inner join tblHoaDonBan hdb on hdb.MaHD = cthdb.MaHD
					Group by MaSP
					order by count(MaSP) desc)
end
GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_LayDanhSachSanPhamBanChay1]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[QuanLyShopQuanAo_LayDanhSachSanPhamBanChay1]
as
begin
	select * from tblChiTietSP
	where MaSP in (select top 4 MaSP as sl  from tblChiTietHoaDonBan cthdb
					inner join tblHoaDonBan hdb on hdb.MaHD = cthdb.MaHD
					Group by MaSP
					order by count(MaSP) desc)
end
GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_LayDanhSachSanPhamTheoKeyWordSearch]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_LayDanhSachSanPhamTheoKeyWordSearch]
(
	@keyWord nvarchar(max)
)
as
begin
	select * from tblChiTietSP
	where LOWER(dbo.fChuyenCoDauThanhKhongDau(Name)) like N'%' + @keyWord + '%'
		or GiaMoi like N'%' + @keyWord + '%'
end

GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_layDanhSachSanPhamTheoMenu]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_layDanhSachSanPhamTheoMenu]
(
	@IDMenu nvarchar(50)
)
as
begin
	select *  from tblChiTietSP sp
	inner join tblNhomSP nsp on nsp.MaNhomSP = sp.IDNhomSP
	where MainMenuID = @IDMenu
end
GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_layDanhSachSanPhamTheoNhom]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_layDanhSachSanPhamTheoNhom]
(
	@soLuong int,
	@loaiNhom nvarchar(50)
)
as
begin
	select top (@soLuong)* from tblChiTietSP sp
	inner join tblNhomSP nsp on nsp.MaNhomSP = sp.IDNhomSP
	where nsp.Name like N'%'+@loaiNhom+'%'
	order by sp.MaSP desc
end

GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_layDanhSachSanPhamTheoNhomSP]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_layDanhSachSanPhamTheoNhomSP]
(
	@IDNhomSP nvarchar(50)
)
as
begin
	select *  from tblChiTietSP
	where IDNhomSP = @IDNhomSP
end
GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_LayDanhSachSanPhamTrongGioHang]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_LayDanhSachSanPhamTrongGioHang]
(
	@maTaiKhoan nvarchar(50)
)
as
begin
	select * from tblGioHang
	where MaTK = @maTaiKhoan
end

GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_LayImageSPTheoMaSPvaMaMS]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_LayImageSPTheoMaSPvaMaMS]
(
	@MaSP nvarchar(50),
	@MaMS nvarchar(50)
)
as
begin
	select ms.IDMauSac, ms.TenMauSac, spms.Images from tblMauSac ms
	inner join tblSanPhamMauSac spms on spms.IDMauSac = ms.IDMauSac
	where spms.IDSanPham = @MaSP and ms.IDMauSac = @MaMS
end

GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_LayMaxGia]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_LayMaxGia]
as
begin
	select top 1 * from tblChiTietSP
	order by GiaMoi desc
end

GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_LaySoLuongGioHangTheoMa]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_LaySoLuongGioHangTheoMa]
(
	@maSanPham nvarchar(50)
)
as
begin
	select SUM(SoLuong) as sl from tblGioHang
	where MaSP = @maSanPham
end

GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_LayThongTinDoTuoiTheoMa]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_LayThongTinDoTuoiTheoMa]
(
	@MaNDT nvarchar(50)
)
as
begin
	select * from tblDoTuoi
	where IDNhomTuoi = @MaNDT
end

GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_LayThongTinHoaDonBanTheoMa]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_LayThongTinHoaDonBanTheoMa]
(
	@maHD nvarchar(50)
)
as
begin
	select * from tblHoaDonBan hdb
	inner join tblChiTietHoaDonBan cthdb on cthdb.MaHD = hdb.MaHD
	where hdb.MaHD = @maHD
end

GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_LayThongTinMenuTheoMa]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_LayThongTinMenuTheoMa]
(
	@maMenu nvarchar(50)
)
as
begin
	select * from tblMenu
	where ID = @maMenu
end

GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_LayThongTinNhomSanPhamTheoMa]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_LayThongTinNhomSanPhamTheoMa]
(
	@IDNhomSP nvarchar(50)
)
as
begin
	select * from tblNhomSP
	where MaNhomSP = @IDNhomSP
end

GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_LayThongTinSanPhamTheoMaSanPham]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_LayThongTinSanPhamTheoMaSanPham]
(
	@maSanPham nvarchar(50)
)
as
begin
	select * from tblChiTietSP
	where MaSP = @maSanPham
end

GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_LocSanPhamTheoGia]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_LocSanPhamTheoGia]
(
	@maMenu nvarchar(50),
	@maDoTuoi nvarchar(50),
	@minGia int,
	@maxGia int
)
as
begin
	select * from tblChiTietSP
	where MaSP in (
				select sp.MaSP from tblChiTietSP sp
				inner join tblNhomSP nsp on nsp.MaNhomSP = sp.IDNhomSP
				inner join tblSanPhamDoTuoi spdt on spdt.MaSP = sp.MaSP
				where nsp.MainMenuID = @maMenu and GiaMoi >= @minGia and GiaMoi <= @maxGia and (spdt.IDNhomTuoi in (select * from [dbo].[SplitStringToTable](@maDoTuoi,' ')))
				Group by sp.MaSP
				)
	Order by MaSP asc
end

GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_LocSanPhamTheoGiaVaNhom]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_LocSanPhamTheoGiaVaNhom]
(
	@maNhom nvarchar(50),
	@maDoTuoi nvarchar(50),
	@minGia int,
	@maxGia int
)
as
begin
	select * from tblChiTietSP
	where MaSP in (
				select sp.MaSP from tblChiTietSP sp
				inner join tblSanPhamDoTuoi spdt on spdt.MaSP = sp.MaSP
				where IDNhomSP = @maNhom and GiaMoi >= @minGia and GiaMoi <= @maxGia and (spdt.IDNhomTuoi in (select * from [dbo].[SplitStringToTable](@maDoTuoi,' ')))
				Group by sp.MaSP)
	Order by MaSP asc
end

GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_ThemChiTietHoaDonBan]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_ThemChiTietHoaDonBan]
(
	@maHoaDon nvarchar(50),
	@maSP nvarchar(50),
	@maMau nvarchar(50),
	@maDoTuoi nvarchar(50),
	@SoLuong int, 
	@DonGia int
)
as
begin
	insert into tblChiTietHoaDonBan(MaHD,MaSP,MaMau,MaDoTuoi,SoLuong,DonGia) 
	values(@maHoaDon, @maSP,@maMau,@maDoTuoi,@SoLuong,@DonGia)
end
GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_ThemHoaDonBanTaiKhoan]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_ThemHoaDonBanTaiKhoan]
(
	@maHoaDon nvarchar(50),
	@maTK nvarchar(50),
	@tenNguoiNhan nvarchar(150), 
	@sdt nvarchar(20), 
	@maTinhThanh int, 
	@DiaChi nvarchar(200), 
	@ngayban datetime
)
as
begin
	insert into tblHoaDonBan(MaHD,MaTK, TenNguoiNhan, SDT, MaTinhThanh, DiaChi, NgayBan, TrangThai) 
	values(@maHoaDon, @maTK, @tenNguoiNhan, @sdt, @maTinhThanh, @DiaChi, @ngayban, 0)
end
GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_ThemHoaDonBanVangLai]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_ThemHoaDonBanVangLai]
(
	@maHoaDon nvarchar(50), 
	@tenNguoiNhan nvarchar(150), 
	@sdt nvarchar(20), 
	@maTinhThanh int, 
	@DiaChi nvarchar(200), 
	@ngayban datetime
)
as
begin
	insert into tblHoaDonBan(MaHD, TenNguoiNhan, SDT, MaTinhThanh, DiaChi, NgayBan, TrangThai) 
	values(@maHoaDon, @tenNguoiNhan, @sdt, @maTinhThanh, @DiaChi, @ngayban, 0)
end
GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_ThemNhomSanPham]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_ThemNhomSanPham]
(
	@maNhomSanPham nvarchar(50), 
	@tenNhomSanPham nvarchar(150), 
	@chiTietNhomSanPham nvarchar(max), 
	@order int,
	@fileName1 nvarchar(max)
)
as
begin
	insert into tblNhomSP(MaNhomSP, Name, Content, NameImage, OrderTT) 
	values(@maNhomSanPham, @tenNhomSanPham, @chiTietNhomSanPham, @fileName1, @order)
end
GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_ThemSanPham]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_ThemSanPham]
(
	@maSanPham nvarchar(50), 
	@tenSanPham nvarchar(150), 
	@chiTietSanPham nvarchar(max), 
	@giaBan int, 
	@order int, 
	@nhomSanPham nvarchar(50),
	@fileName1 nvarchar(max)
)
as
begin
	insert into tblChiTietSP(MaSP, Name, ChiTiet, Gia, GiaMoi, NameImage, OrderTT, IDNhomSP) 
	values(@maSanPham, @tenSanPham, @chiTietSanPham, @giaBan, @giaBan, @fileName1, @order, @nhomSanPham)
end
GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_ThemSanPhamVaoGioHang]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_ThemSanPhamVaoGioHang]
(
	@maGioHang nvarchar(50),
	@mataiKhoan nvarchar(50),
	@MaSP nvarchar(50), 
	@MaMau nvarchar(50), 
	@MaDoTuoi nvarchar(50), 
	@SoLuong int
)
as
begin
	insert into tblGioHang(MaGioHang, MaTK, MaSP, MaMau, MaDoTuoi, SoLuong)
	values(@maGioHang, @mataiKhoan, @MaSP, @MaMau, @MaDoTuoi, @SoLuong)
end

GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_ThemTaiKhoan]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_ThemTaiKhoan]
(
	@maTaiKhoan nvarchar(50),
	@tenTaiKhoan nvarchar(150), 
	@matKhau nvarchar(150),
	@rule int,
	@email nvarchar(150)
)
as
begin
	insert into tblTaiKhoan(MaTK, TaiKhoan, MatKhau, Rules,Ten, Email)
	values(@maTaiKhoan, @tenTaiKhoan, @matKhau, @rule, @tenTaiKhoan, @email)
end
GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_UpDateThongTinGioHang]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_UpDateThongTinGioHang]
(
	@mataiKhoan nvarchar(50),
	@MaSP nvarchar(50), 
	@MaMau nvarchar(50), 
	@MaDoTuoi nvarchar(50), 
	@SoLuong int
)
as
begin
	update tblGioHang set SoLuong = @SoLuong
	where MaTK = @mataiKhoan and MaSP = @MaSP and MaMau = @MaMau and MaDoTuoi = @MaDoTuoi
end

GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_XoaNhomSanPham]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_XoaNhomSanPham]
(
	@maNhomSanPham nvarchar(50)
)
as
begin
	delete from tblNhomSP
	where MaNhomSP = @maNhomSanPham
end
GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_XoaSanPham]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_XoaSanPham]
(
	@maSanPham nvarchar(50)
)
as
begin
	delete from tblChiTietSP
	where MaSP = @maSanPham
end
GO
/****** Object:  StoredProcedure [dbo].[QuanLyShopQuanAo_XoaSanPhamTrongGioHangTheoMa]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[QuanLyShopQuanAo_XoaSanPhamTrongGioHangTheoMa]
(
	@maGioHang nvarchar(50)
)
as
begin
	delete from tblGioHang
	where MaGioHang = @maGioHang
end
GO
/****** Object:  UserDefinedFunction [dbo].[fChuyenCoDauThanhKhongDau]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fChuyenCoDauThanhKhongDau](@inputVar NVARCHAR(MAX) )
RETURNS NVARCHAR(MAX)
AS
BEGIN    
    IF (@inputVar IS NULL OR @inputVar = '')  RETURN ''
   
    DECLARE @RT NVARCHAR(MAX)
    DECLARE @SIGN_CHARS NCHAR(256)
    DECLARE @UNSIGN_CHARS NCHAR (256)
 
    SET @SIGN_CHARS = N'ăâđêôơưàảãạáằẳẵặắầẩẫậấèẻẽẹéềểễệếìỉĩịíòỏõọóồổỗộốờởỡợớùủũụúừửữựứỳỷỹỵýĂÂĐÊÔƠƯÀẢÃẠÁẰẲẴẶẮẦẨẪẬẤÈẺẼẸÉỀỂỄỆẾÌỈĨỊÍÒỎÕỌÓỒỔỖỘỐỜỞỠỢỚÙỦŨỤÚỪỬỮỰỨỲỶỸỴÝ' + NCHAR(272) + NCHAR(208)
    SET @UNSIGN_CHARS = N'aadeoouaaaaaaaaaaaaaaaeeeeeeeeeeiiiiiooooooooooooooouuuuuuuuuuyyyyyAADEOOUAAAAAAAAAAAAAAAEEEEEEEEEEIIIIIOOOOOOOOOOOOOOOUUUUUUUUUUYYYYYDD'
 
    DECLARE @COUNTER int
    DECLARE @COUNTER1 int
   
    SET @COUNTER = 1
    WHILE (@COUNTER <= LEN(@inputVar))
    BEGIN  
        SET @COUNTER1 = 1
        WHILE (@COUNTER1 <= LEN(@SIGN_CHARS) + 1)
        BEGIN
            IF UNICODE(SUBSTRING(@SIGN_CHARS, @COUNTER1,1)) = UNICODE(SUBSTRING(@inputVar,@COUNTER ,1))
            BEGIN          
                IF @COUNTER = 1
                    SET @inputVar = SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@inputVar, @COUNTER+1,LEN(@inputVar)-1)      
                ELSE
                    SET @inputVar = SUBSTRING(@inputVar, 1, @COUNTER-1) +SUBSTRING(@UNSIGN_CHARS, @COUNTER1,1) + SUBSTRING(@inputVar, @COUNTER+1,LEN(@inputVar)- @COUNTER)
                BREAK
            END
            SET @COUNTER1 = @COUNTER1 +1
        END
        SET @COUNTER = @COUNTER +1
    END
    -- SET @inputVar = replace(@inputVar,' ','-')
    RETURN @inputVar
END
GO
/****** Object:  UserDefinedFunction [dbo].[SplitStringToTable]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[SplitStringToTable]
(
    @string NVARCHAR(MAX),
    @delimiter CHAR(1)
)
RETURNS @output TABLE(
    data NVARCHAR(MAX)
)
BEGIN
    DECLARE @start INT, @end INT
    SELECT @start = 1, @end = CHARINDEX(@delimiter, @string)

    WHILE @start < LEN(@string) + 1 BEGIN
        IF @end = 0 
            SET @end = LEN(@string) + 1

        INSERT INTO @output (data) 
        VALUES(SUBSTRING(@string, @start, @end - @start))
        SET @start = @end + 1
        SET @end = CHARINDEX(@delimiter, @string, @start)
    END
    RETURN
END
GO
/****** Object:  Table [dbo].[tblChiTietHoaDonBan]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChiTietHoaDonBan](
	[MaHD] [nvarchar](50) NOT NULL,
	[MaSP] [nvarchar](50) NOT NULL,
	[MaMau] [nvarchar](50) NOT NULL,
	[MaDoTuoi] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [int] NULL,
 CONSTRAINT [PK_tblChiTietHoaDonBan] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC,
	[MaMau] ASC,
	[MaDoTuoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblChiTietHoaDonNhap]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChiTietHoaDonNhap](
	[MaHD] [nvarchar](50) NOT NULL,
	[MaSP] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [int] NULL,
 CONSTRAINT [PK_tblChiTietHoaDonNhap] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblChiTietSP]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChiTietSP](
	[MaSP] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[ChiTiet] [nvarchar](max) NULL,
	[Gia] [int] NULL,
	[GiaMoi] [int] NULL,
	[NameImage] [nvarchar](max) NULL,
	[SoLuong] [int] NULL,
	[OrderTT] [int] NULL,
	[Status] [int] NULL,
	[IDNhomSP] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblChiTietSP] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblDoTuoi]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDoTuoi](
	[IDNhomTuoi] [nvarchar](50) NOT NULL,
	[Tuoi] [nvarchar](50) NULL,
	[ChieuCao] [nvarchar](50) NULL,
	[TrongLuong] [nvarchar](50) NULL,
	[Size] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblSIZE] PRIMARY KEY CLUSTERED 
(
	[IDNhomTuoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblGioHang]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGioHang](
	[MaGioHang] [nvarchar](50) NOT NULL,
	[MaTK] [nvarchar](50) NOT NULL,
	[MaSP] [nvarchar](50) NOT NULL,
	[MaMau] [nvarchar](50) NOT NULL,
	[MaDoTuoi] [nvarchar](50) NOT NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_tblGioHang] PRIMARY KEY CLUSTERED 
(
	[MaGioHang] ASC,
	[MaTK] ASC,
	[MaSP] ASC,
	[MaMau] ASC,
	[MaDoTuoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblHoaDonBan]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHoaDonBan](
	[MaHD] [nvarchar](50) NOT NULL,
	[MaTK] [nvarchar](50) NULL,
	[TenNguoiNhan] [nvarchar](150) NULL,
	[SDT] [nvarchar](20) NULL,
	[MaTinhThanh] [int] NULL,
	[DiaChi] [nvarchar](200) NULL,
	[NgayBan] [datetime] NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_tblHoaDonBan] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblHoaDonNhap]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHoaDonNhap](
	[MaHD] [nvarchar](50) NOT NULL,
	[MaTK] [nvarchar](50) NULL,
	[MaNCC] [nvarchar](50) NULL,
	[NgayNhap] [datetime] NULL,
 CONSTRAINT [PK_tblHoaDonNhap] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblHuyen]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHuyen](
	[ID] [int] NOT NULL,
	[TenHuyen] [nvarchar](150) NULL,
	[IDTinh] [int] NULL,
 CONSTRAINT [PK_tblHuyen] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblKhachHang]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKhachHang](
	[MaKH] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](500) NULL,
	[SDT] [nvarchar](20) NULL,
	[MaTinhThanh] [int] NULL,
	[DiaChi] [nvarchar](max) NULL,
	[Email] [nvarchar](300) NULL,
 CONSTRAINT [PK_tblKhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblMauSac]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMauSac](
	[IDMauSac] [nvarchar](50) NOT NULL,
	[TenMauSac] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblMauSac] PRIMARY KEY CLUSTERED 
(
	[IDMauSac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblMenu]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMenu](
	[ID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Link] [nvarchar](500) NULL,
	[Order] [int] NULL,
	[Content] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblMenu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblNhaCungCap]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNhaCungCap](
	[MaNCC] [nvarchar](50) NOT NULL,
	[TenNCC] [nvarchar](150) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[SDT] [nvarchar](20) NULL,
	[Email] [nvarchar](300) NULL,
 CONSTRAINT [PK_tblNhaCungCap] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblNhomSP]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNhomSP](
	[MaNhomSP] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Content] [nvarchar](max) NULL,
	[NameImage] [nvarchar](max) NULL,
	[OrderTT] [int] NULL,
	[Status] [int] NULL,
	[Link] [nvarchar](500) NULL,
	[MainMenuID] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblNhomSP] PRIMARY KEY CLUSTERED 
(
	[MaNhomSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblQuangCao]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblQuangCao](
	[ID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Url] [nvarchar](500) NULL,
	[Width] [int] NULL,
	[Height] [int] NULL,
	[Link] [nvarchar](500) NULL,
	[Target] [int] NULL,
	[Postion] [int] NULL,
	[Order] [int] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_tblQuangCao] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblSanPhamDoTuoi]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSanPhamDoTuoi](
	[MaSP] [nvarchar](50) NOT NULL,
	[IDNhomTuoi] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SanPhamDoTuoi] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC,
	[IDNhomTuoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblSanPhamMauSac]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSanPhamMauSac](
	[IDSanPham] [nvarchar](50) NOT NULL,
	[IDMauSac] [nvarchar](50) NOT NULL,
	[Images] [nvarchar](500) NULL,
 CONSTRAINT [PK_tblSanPhamMauSac] PRIMARY KEY CLUSTERED 
(
	[IDSanPham] ASC,
	[IDMauSac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblTaiKhoan]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTaiKhoan](
	[MaTK] [nvarchar](50) NOT NULL,
	[TaiKhoan] [nvarchar](150) NULL,
	[MatKhau] [nvarchar](150) NULL,
	[Rules] [int] NULL,
	[Ten] [nvarchar](150) NULL,
	[SDT] [nvarchar](20) NULL,
	[NgaySinh] [datetime] NULL,
	[DiaChi] [nvarchar](max) NULL,
	[Email] [nvarchar](150) NULL,
 CONSTRAINT [PK_tblTaiKhoan] PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblTinh]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTinh](
	[ID] [int] NOT NULL,
	[TenTinh] [nvarchar](150) NULL,
 CONSTRAINT [PK_tblTinh] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblXa]    Script Date: 22/12/2018 22:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblXa](
	[ID] [int] NOT NULL,
	[TenXa] [nvarchar](150) NULL,
	[IDHuyen] [int] NULL,
 CONSTRAINT [PK_tblXa] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[tblChiTietHoaDonBan] ([MaHD], [MaSP], [MaMau], [MaDoTuoi], [SoLuong], [DonGia]) VALUES (N'HD00001', N'SP00001', N'MS001', N'DT04', 2, 100)
INSERT [dbo].[tblChiTietHoaDonBan] ([MaHD], [MaSP], [MaMau], [MaDoTuoi], [SoLuong], [DonGia]) VALUES (N'HD00001', N'SP00004', N'MS005', N'DT06', 1, 130)
INSERT [dbo].[tblChiTietHoaDonBan] ([MaHD], [MaSP], [MaMau], [MaDoTuoi], [SoLuong], [DonGia]) VALUES (N'HD00001', N'SP00010', N'MS005', N'DT06', 2, 235)
INSERT [dbo].[tblChiTietHoaDonNhap] ([MaHD], [MaSP], [SoLuong], [DonGia]) VALUES (N'HD00001', N'SP00001', 200, 2000)
INSERT [dbo].[tblChiTietHoaDonNhap] ([MaHD], [MaSP], [SoLuong], [DonGia]) VALUES (N'HD00001', N'SP00002', 150, 2500)
INSERT [dbo].[tblChiTietHoaDonNhap] ([MaHD], [MaSP], [SoLuong], [DonGia]) VALUES (N'HD00001', N'SP00003', 250, 3000)
INSERT [dbo].[tblChiTietSP] ([MaSP], [Name], [ChiTiet], [Gia], [GiaMoi], [NameImage], [SoLuong], [OrderTT], [Status], [IDNhomSP]) VALUES (N'SP00001', N'Áo sơ mi bé trai 2-3 tuổi sọc caro tay dài cá tính', N'Áo sơ mi bé trai 2-3 tuổi, với màu kẻ sọc đang là màu hot trend và không bao giờ lỗi mốt trong làng thời trang trẻ em năm nay.', 122, 100, N'ao-so-mi-soc-caro-tay-dai-cho-be-trai_(2).jpg', 5, NULL, NULL, N'NH00001')
INSERT [dbo].[tblChiTietSP] ([MaSP], [Name], [ChiTiet], [Gia], [GiaMoi], [NameImage], [SoLuong], [OrderTT], [Status], [IDNhomSP]) VALUES (N'SP00002', N'Áo sơ mi cho bé trai sọc caro tay dài 7-8 tuổi', N'Áo sơ mi dài tay cho bé trai - Kiểu áo nam tính, lịch lãm với chất liệu vải kate mềm mát cho bé vẻ ngoài thật phong cách.', 132, 165, N'ao-so-mi-soc-caro-tay-dai-cho-be-trai-size-dai_(1).jpg', 30, NULL, NULL, N'NH00001')
INSERT [dbo].[tblChiTietSP] ([MaSP], [Name], [ChiTiet], [Gia], [GiaMoi], [NameImage], [SoLuong], [OrderTT], [Status], [IDNhomSP]) VALUES (N'SP00003', N'Áo sơ mi bé trai tay dài in hình cây dừa 7-8 tuổi', N'Áo sơ mi bé trai tay dài từ 10kg đến 30kg - Kiểu áo tay dài cùng họa tiết kẻ sọc vô cùng lịch lãm cho bé phối đồ đi học, đi chơi hay đi tiệc đều đẹp.', 128, 110, N'ao-so-mi-tay-dai-in-hinh-cay-dua-cho-be-trai_(1).jpg', 30, NULL, NULL, N'NH00001')
INSERT [dbo].[tblChiTietSP] ([MaSP], [Name], [ChiTiet], [Gia], [GiaMoi], [NameImage], [SoLuong], [OrderTT], [Status], [IDNhomSP]) VALUES (N'SP00016', N'Đồ Bộ Cho Bé Trai Ngắn Tay In Khủng Long Ngộ Nghĩnh (5-6 Tuổi)', N'Kiểu đồ bộ bé trai có hình thú dễ thương mà bé nào cũng yêu thích.
Các bé trai luôn bị thu hút bởi các bộ quần áo có họa tiết hình thú ngộ nghĩnh, hình xe hoặc hình siêu nhân. Đặc biệt, shop về kiểu đồ bộ ngắn tay in hình khủng long khá ngộ nghĩnh và đáng yêu. Với chất liệu vải thun cotton vừa mềm vừa mát chắc chắn sẽ làm hài lòng các bà mẹ khó tính nhất. Kết hợp cùng đường may chắc chắn, bền đẹp đến từng đường kim mũi chỉ cho bé trang phục sử dụng lâu bền. Thiết kế áo bé trai tay ngắn, quần ngắn rất năng động và khỏe khoắn. Quần lưng thun co giãn thoải mái và có túi cho bé đựng vật dụng nhỏ của mình. Nổi bật hơn là hai bên hông áo và quần đều được đính vây khủng long vô cùng sinh động và đáng yêu. Hiện shop về đủ size cho các bé trai từ 1 đến 8 tuổi nhé mẹ.', 132, 132, N'do-bo-cho-be-trai-ngan-tay-in-khung-long-ngo-nghinh-1-8-tuoi_(4).jpg', 30, 1, NULL, N'NH00006')
INSERT [dbo].[tblChiTietSP] ([MaSP], [Name], [ChiTiet], [Gia], [GiaMoi], [NameImage], [SoLuong], [OrderTT], [Status], [IDNhomSP]) VALUES (N'SP00017', N'Áo Ghile Sát Nách Cho Bé Cổ Tim Mặc Ấm (3-4 Tuổi)', N'Với chiếc áo ghile sát nách cho bé này, mẹ có thể sử dụng mặc ấm cho cả bé trai và bé gái luôn nhé.
Bé có thể mặc áo ghile này cùng với áo sơ mi dài tay, hoặc áo thun bên trong cực ấm áp và thời trang. Sử dụng đi chơi hay đi tiệc đều lịch sự cuốn hút khi thời tiết chuyển lạnh hơn. Chất liệu vải thun lem mềm mại, ấm áp, họa tiết dây thừng lạ mắt và độc đáo. Có 2 màu cơ bản đỏ và xanh rất dễ phối đồ cho bé trai bé gái mẹ nhé. Đủ size cho bé 2 đến 8 tuổi ạ.', 158, 158, N'ao-ghile-sat-nach-co-tim-cho-be_(3).jpg', 10, 1, NULL, N'NH00003')
INSERT [dbo].[tblChiTietSP] ([MaSP], [Name], [ChiTiet], [Gia], [GiaMoi], [NameImage], [SoLuong], [OrderTT], [Status], [IDNhomSP]) VALUES (N'SP00018', N'Quần Kaki Cho Bé Trai Màu Wash Nhẹ Sành Điệu (13-15 Kg)', N'Kiểu quần trẻ em mặc phong cách với quần kaki dài cho bé trai - Mẫu mới đẹp, giá cực tốt.
Chiếc quần kaki màu cho bé trai sẽ là lựa chọn hoàn hảo cho các nhóc mặc kết hợp với áo sơ mi kẻ sọc hoặc áo sơ mi kẻ đứng mẹ nhé. Phom quần lên cực chuẩn và tôn dáng cho các bé. Có nhiều màu sắc cho bé kết hợp với nhiều trang phục nổi bật và sành điệu. Chất vải kaki thun cao cấp, co giãn nhẹ giúp bé vô cùng thoải mái khi mặc. Đặc biệt, chiếc quần dài cho bé trai này được wash rách nhẹ nổi bật và khá bụi tạo nên phong cách cá tính cho bé yêu khi diện. Nếu bé nhà mình chưa có chiếc quần kaki nào trong tủ đồ của mình thì mẹ giúp bé bổ sung ngay kiểu quần kaki thời trang này ngay nhé. Đủ size cho bé từ 1 đến 6 tuổi nhen mẹ!', 132, 132, N'quan-kaki-mau-wash-nhe-cho-be-trai_(4).jpg', 10, 1, NULL, N'NH00004')
INSERT [dbo].[tblChiTietSP] ([MaSP], [Name], [ChiTiet], [Gia], [GiaMoi], [NameImage], [SoLuong], [OrderTT], [Status], [IDNhomSP]) VALUES (N'SP00019', N'Áo sơ mi bé trai màu trắng mùa tựu trường (cho bé 17 - 19kg)', N'Áo sơ mi cho bé trai màu trắng tinh khôi cùng bé tựu trường. 
Thoáng cái lại đến mùa tựu trường rồi các mẹ ơi, các mẹ đã chuẩn bị đồ cho bé mặc khai giảng năm học mới chưa ạ? Babi vừa về lô hàng áo sơ mi trắng cho bé trai mặc để đi khai giảng, đi học. Áo sơ mi được may bằng vải kate màu trắng trơn, có túi nhỏ phía trước, phối áo với quần tây bỏ thùng để bé đi đến trường rất dễ thương các mẹ ạ. Ngoài ra mẹ cũng thể phối với chiếc quần jeans hay kaki để bị tiệc, bé trông rất phong cách và lịch thiệp đấy ạ.', 98, 98, N'ao-somi-trang-cho-be-tuu-truong_(2).jpg', 10, 1, NULL, N'NH00001')
INSERT [dbo].[tblChiTietSP] ([MaSP], [Name], [ChiTiet], [Gia], [GiaMoi], [NameImage], [SoLuong], [OrderTT], [Status], [IDNhomSP]) VALUES (N'SP00020', N'Vớ (Tất) Hài Tập Đi Cho Bé (1 tuổi - 2 tuổi)', N'Bé nhà mình có vớ tất tập đi chưa mẹ ơi? Babi vừa về kiểu vớ tập đi chống trượt cực kỳ đáng yêu rồi đây ạ. 
Hàng thun len mềm mại, mang ấm chân cho bé nha mẹ. Với thiết kế đế chống trượt an toàn cho các bé mới tập đi, họa tiết nhiều hình ngộ nghĩnh đáng yêu hết nấc. Các mẹ nhà mình có bé từ 1 tuổi đến 2 tuổi thì ghé xem ngay nhé.', 30, 30, N'vo-tat-hai-tap-di-cho-be-1-tuoi-2-tuoi_(7).jpg', 10, 1, NULL, N'NH00025')
INSERT [dbo].[tblChiTietSP] ([MaSP], [Name], [ChiTiet], [Gia], [GiaMoi], [NameImage], [SoLuong], [OrderTT], [Status], [IDNhomSP]) VALUES (N'SP00021', N'Gối đỡ thiên thần bảo vệ đầu cho bé tập ngồi', N'ĐIỂM NỔI BẬT

- Được thiết kế gồm 2 phần là gối đỡ đầu và đôi cánh thiên thần ngộ nghĩnh đáng yêu

- Dây đeo co giãn giúp bé thoải mái khi đeo cũng như trong lúc vận động.

- Được thiết kế dành riêng cho bé trong giai đoạn tập ngồi, tập bò và tập đi', 50, 50, N'goi-bao-ve-dau-cho-be-tap-ngoi_(3).jpg', 10, 1, NULL, N'NH00047')
INSERT [dbo].[tblChiTietSP] ([MaSP], [Name], [ChiTiet], [Gia], [GiaMoi], [NameImage], [SoLuong], [OrderTT], [Status], [IDNhomSP]) VALUES (N'SP00022', N'Set bao tay bao chân sơ sinh hình mèo', N'Set bao tay bao chân sơ sinh hình mèo dành cho bé từ 0-6 tháng. Chất liệu vải thun mềm, êm ái với làn da của các bé nhỏ, họa tiết dễ thương.
Bao tay bao chân cho bé sơ sinh vải thun mềm 0 đến 6 tháng. 
Với các bé sơ sinh, mẹ luôn phải chuẩn bị vài đôi bao tay và bao chân để thay đổi và giữ ấm khi ngủ. Ghé Babi.vn để xem và mua cho bé nhà mình nha các mẹ ơi.', 22, 22, N'set-bao-tay-bao-chan-so-sinh-hinh-meo.jpg', 20, 1, NULL, N'NH00021')
INSERT [dbo].[tblChiTietSP] ([MaSP], [Name], [ChiTiet], [Gia], [GiaMoi], [NameImage], [SoLuong], [OrderTT], [Status], [IDNhomSP]) VALUES (N'SP00023', N'Khăn Tam Giác Cho Bé Đa Năng Nhiều Họa Tiết Đáng Yêu', N'Khăn Tam Giác Cho Bé Đa Năng Nhiều Họa Tiết Đáng Yêu - Món phụ kiện mùa đông giúp giữ ấm cổ bé yêu trong những ngày thời tiết trở lạnh hiệu quả
Khăn Tam Giác Cho Bé Đa Năng Nhiều Họa Tiết Đáng Yêu - Phụ kiện mùa đông không thể thiếu cho bé yêu.', 15, 15, N'khan-tam-giac-cho-be-da-nang-nhieu-hoa-tiet-dang-yeu_(1).jpg', 20, 1, NULL, N'NH00021')
INSERT [dbo].[tblChiTietSP] ([MaSP], [Name], [ChiTiet], [Gia], [GiaMoi], [NameImage], [SoLuong], [OrderTT], [Status], [IDNhomSP]) VALUES (N'SP00024', N'Áo cho bé sơ sinh tay dài in hình dễ thương (5-11kg)', N'Áo sơ sinh cho bé (3 tháng - 1 tuổi) được may hoàn toàn bằng chất liệu thun cotton mềm mịn, thoáng mát, thấm hút mồ hôi tốt và thân thiện tuyệt đối với làn da của bé.
Áo cho bé sơ sinh tay dài dày dặn - Giữ ấm tuyệt đối cho bé yêu mùa Thu - Đông.
Việc giữ ấm cho bé rất quan trọng trong những ngày mùa Thu - Đông giá lạnh. Hãy để áo trẻ em sơ sinh tay dài giúp mẹ thực hiện điều đó nhé! Bên cạnh đó, áo sơ sinh cho bé còn có nhiều hoạ tiết hình in vô cùng dễ thương và ngộ nghĩnh. Chỉ với 44.000đ, tại sao không!', 44, 44, N'ao-so-sinh-tay-dai-cai-nut-giua-in-hinh-de-thuong-cho-be_(4).jpg', 20, 1, NULL, N'NH00048')
INSERT [dbo].[tblDoTuoi] ([IDNhomTuoi], [Tuoi], [ChieuCao], [TrongLuong], [Size]) VALUES (N'DT01', N'Sơ sinh', NULL, NULL, NULL)
INSERT [dbo].[tblDoTuoi] ([IDNhomTuoi], [Tuoi], [ChieuCao], [TrongLuong], [Size]) VALUES (N'DT02', N'12-18 tháng', N'74-79 cm', N'9-11 kg', N'XXS')
INSERT [dbo].[tblDoTuoi] ([IDNhomTuoi], [Tuoi], [ChieuCao], [TrongLuong], [Size]) VALUES (N'DT03', N'1-2 tuổi', N'79-86 cm', N'11-13 kg', N'XXS')
INSERT [dbo].[tblHoaDonBan] ([MaHD], [MaTK], [TenNguoiNhan], [SDT], [MaTinhThanh], [DiaChi], [NgayBan], [TrangThai]) VALUES (N'HD00001', NULL, N'Nguyễn Hoài Nam', N'01274839989', 1, N'123ab, Phường Mỹ Long, Thành phố Long Xuyên, An Giang', CAST(0x0000A9BD00000000 AS DateTime), 0)
INSERT [dbo].[tblHoaDonBan] ([MaHD], [MaTK], [TenNguoiNhan], [SDT], [MaTinhThanh], [DiaChi], [NgayBan], [TrangThai]) VALUES (N'HD00002', N'TK00003', N'Trần Ngọc Vinh', N'01274839989', 24, N'123ab, Xã Vật Lại, Huyện Ba Vì, Hà Nội', CAST(0x0000A9BE00000000 AS DateTime), 0)
INSERT [dbo].[tblHoaDonBan] ([MaHD], [MaTK], [TenNguoiNhan], [SDT], [MaTinhThanh], [DiaChi], [NgayBan], [TrangThai]) VALUES (N'HD00003', N'TK00003', N'Nguyễn Bảo Chung', N'0366561924', 24, N'123ab, Xã Vật Lại, Huyện Ba Vì, Hà Nội', CAST(0x0000A9BE00000000 AS DateTime), 0)
INSERT [dbo].[tblHoaDonNhap] ([MaHD], [MaTK], [MaNCC], [NgayNhap]) VALUES (N'HD00001', N'TK00001', N'NCC00001', CAST(0x0000A97700000000 AS DateTime))
INSERT [dbo].[tblHoaDonNhap] ([MaHD], [MaTK], [MaNCC], [NgayNhap]) VALUES (N'HD00002', N'TK00001', N'NCC00001', CAST(0x0000A97700000000 AS DateTime))
INSERT [dbo].[tblHoaDonNhap] ([MaHD], [MaTK], [MaNCC], [NgayNhap]) VALUES (N'HD00003', N'TK00001', N'NCC00001', CAST(0x0000A97700000000 AS DateTime))
INSERT [dbo].[tblHuyen] ([ID], [TenHuyen], [IDTinh]) VALUES (1, N'Thành phố Long Xuyên', 1)
INSERT [dbo].[tblHuyen] ([ID], [TenHuyen], [IDTinh]) VALUES (2, N'Thị xã Châu Đốc', 1)
INSERT [dbo].[tblHuyen] ([ID], [TenHuyen], [IDTinh]) VALUES (3, N'Huyện An Phú', 1)
GO
INSERT [dbo].[tblKhachHang] ([MaKH], [Name], [SDT], [MaTinhThanh], [DiaChi], [Email]) VALUES (N'KH00001', N'Nguyễn Văn Hải', N'0987667887', 41, N'Tp.Vinh - Tỉnh Nghệ An', N'hai@gmail.com')
INSERT [dbo].[tblKhachHang] ([MaKH], [Name], [SDT], [MaTinhThanh], [DiaChi], [Email]) VALUES (N'KH00002', N'Nguyễn Thị Vân', N'0876567766', 41, N'Quỳnh Lưu - Nghệ An', N'van@gmail.com')
INSERT [dbo].[tblKhachHang] ([MaKH], [Name], [SDT], [MaTinhThanh], [DiaChi], [Email]) VALUES (N'KH00003', N'Lý Thế Hợp', N'0933918563', 24, N'Số 193,đường 428 Thị trấn Vân Đình ,Ứng Hòa, HN', N'Artglass@hcm.vnn.vn')
INSERT [dbo].[tblMauSac] ([IDMauSac], [TenMauSac]) VALUES (N'MS001', N'Màu đỏ')
INSERT [dbo].[tblMauSac] ([IDMauSac], [TenMauSac]) VALUES (N'MS002', N'Màu cam')
INSERT [dbo].[tblMauSac] ([IDMauSac], [TenMauSac]) VALUES (N'MS003', N'Màu xanh lá')
INSERT [dbo].[tblMenu] ([ID], [Name], [Link], [Order], [Content]) VALUES (N'MN00001', N'Quần áo bé trai', N'NguoiDungLayDanhSachSanPhamTheoMenuServlet', NULL, N'Quần áo bé trai đẹp, giá rẻ nhiều mẫu thời trang bé trai mới cập nhật thường xuyên mỗi ngày. DolaKids là nơi chọn mua đồ bé trai tin cậy nhất tại Tp.HCM.')
INSERT [dbo].[tblMenu] ([ID], [Name], [Link], [Order], [Content]) VALUES (N'MN00002', N'Quần áo bé gái', N'NguoiDungLayDanhSachSanPhamTheoMenuServlet', NULL, N'Ngắm con gái xinh xắn, dễ thương trong bộ quần áo thời trang mới tinh là niềm hạnh phúc của mẹ. Để con bạn luôn đáng yêu trong mắt mình và mọi người hãy mua ngay quần áo thời trang bé gái cực xinh để làm điệu cho bé.')
INSERT [dbo].[tblMenu] ([ID], [Name], [Link], [Order], [Content]) VALUES (N'MN00003', N'Quần áo sơ sinh', N'NguoiDungLayDanhSachSanPhamTheoMenuServlet', NULL, N'Muốn mua quần áo sơ sinh cho bé tại Sài Gòn, mua ở đâu? Babi tự hào là địa điểm bán quần áo thời trang trẻ em online uy tín nhất được nhiều mẹ biết đến. Sản phẩm của cửa hàng là hàng Việt Nam chất lượng tốt, rất an toàn cho làn da của trẻ.')
INSERT [dbo].[tblNhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SDT], [Email]) VALUES (N'NCC00001', N'Xưởng sỉ quần áo trẻ em OVmart', N'150B Tổ 6 Phố Vọng, Phương Liệt, Thanh Xuân, Hà Nội', N'0968 475 823', N'ovmart@gmail.com')
INSERT [dbo].[tblNhaCungCap] ([MaNCC], [TenNCC], [DiaChi], [SDT], [Email]) VALUES (N'NCC00002', N'Xưởng may Minh Anh', N'số 9A, ngách 44/148, ngõ 36 Dịch Vọng Hậu, Cầu Giấy, Hà Nội', N'0984 988 028', N'minhanh@gmail.com')
INSERT [dbo].[tblNhomSP] ([MaNhomSP], [Name], [Content], [NameImage], [OrderTT], [Status], [Link], [MainMenuID]) VALUES (N'NH00001', N'Áo sơ mi bé trai', N'Bé trai trông lịch lãm và đáng yêu hơn khi diện áo sơ mi mới tinh. Mua ngay áo sơ mi cho bé trai đẹp, giá rẻ tại cửa hàng thời trang Babi, mẹ sẽ rất hài lòng.', N'ao-so-mi-soc-caro-tay-dai-cho-be-trai_(2).jpg', NULL, NULL, N'NguoiDungLayDanhSachSPTheoNhomSPServlet', N'MN00001')
INSERT [dbo].[tblNhomSP] ([MaNhomSP], [Name], [Content], [NameImage], [OrderTT], [Status], [Link], [MainMenuID]) VALUES (N'NH00002', N'Áo thun bé trai', N'Đơn giản và tiện lợi, chiếc áo thun cho bé trai đẹp có thể phối quần short, quần dài, quần lửng tạo phong cách khỏe khoắn, năng động cho bé.', N'ao-thun-dai-tay-in-chu-cho-be-trai.jpg', NULL, NULL, N'NguoiDungLayDanhSachSPTheoNhomSPServlet', N'MN00001')
INSERT [dbo].[tblNhomSP] ([MaNhomSP], [Name], [Content], [NameImage], [OrderTT], [Status], [Link], [MainMenuID]) VALUES (N'NH00003', N'Áo khoác bé trai', N'Một chiếc áo khoác cho bé trai là phương tiện không thể thiếu mỗi khi bé đi ra ngoài nhằm bảo vệ bé tránh những tác hại thời tiết. Để bảo về tốt nhất cho bé, Mẹ hãy mua ngay áo khoác trẻ em tại Babi để bổ sung vào tủ quần áo của bé.', N'ao-khoac-cho-be-trai-1-5-tuoi-vai-kaki-phoi-2-tui_(2).jpg', NULL, NULL, N'NguoiDungLayDanhSachSPTheoNhomSPServlet', N'MN00001')
INSERT [dbo].[tblSanPhamDoTuoi] ([MaSP], [IDNhomTuoi]) VALUES (N'SP00001', N'DT04')
INSERT [dbo].[tblSanPhamDoTuoi] ([MaSP], [IDNhomTuoi]) VALUES (N'SP00001', N'DT05')
INSERT [dbo].[tblSanPhamDoTuoi] ([MaSP], [IDNhomTuoi]) VALUES (N'SP00001', N'DT06')
INSERT [dbo].[tblSanPhamMauSac] ([IDSanPham], [IDMauSac], [Images]) VALUES (N'SP00001', N'MS001', N'ao-so-mi-soc-caro-tay-dai-cho-be-trai_(2).jpg')
INSERT [dbo].[tblSanPhamMauSac] ([IDSanPham], [IDMauSac], [Images]) VALUES (N'SP00001', N'MS002', N'ao-so-mi-soc-caro-tay-dai-cho-be-trai_(4).jpg')
INSERT [dbo].[tblSanPhamMauSac] ([IDSanPham], [IDMauSac], [Images]) VALUES (N'SP00001', N'MS003', N'ao-so-mi-soc-caro-tay-dai-cho-be-trai_(5).jpg')
INSERT [dbo].[tblTaiKhoan] ([MaTK], [TaiKhoan], [MatKhau], [Rules], [Ten], [SDT], [NgaySinh], [DiaChi], [Email]) VALUES (N'TK00001', N'Admin', N'1', 1, N'Trần Ngọc Vinh', N'0123455668', CAST(0x0000878A00000000 AS DateTime), N'Đô Lương', N'vinh@gmail.com')
INSERT [dbo].[tblTaiKhoan] ([MaTK], [TaiKhoan], [MatKhau], [Rules], [Ten], [SDT], [NgaySinh], [DiaChi], [Email]) VALUES (N'TK00002', N'NhanVien', N'1', 2, N'Nguyễn Văn Hoàng', N'0123765456', CAST(0x000088F700000000 AS DateTime), N'Vinh', N'cnguyen@gmail.com')
INSERT [dbo].[tblTaiKhoan] ([MaTK], [TaiKhoan], [MatKhau], [Rules], [Ten], [SDT], [NgaySinh], [DiaChi], [Email]) VALUES (N'TK00003', N'KhachHang', N'1', 3, N'Trần Văn Hùng', NULL, NULL, NULL, N'vhung@gmail.com')
INSERT [dbo].[tblTinh] ([ID], [TenTinh]) VALUES (1, N'An Giang')
INSERT [dbo].[tblTinh] ([ID], [TenTinh]) VALUES (2, N'Bà Rịa – Vũng Tàu')
INSERT [dbo].[tblTinh] ([ID], [TenTinh]) VALUES (3, N'Bạc Liêu')
INSERT [dbo].[tblXa] ([ID], [TenXa], [IDHuyen]) VALUES (1, N'Phường Mỹ Bình', 1)
INSERT [dbo].[tblXa] ([ID], [TenXa], [IDHuyen]) VALUES (2, N'Phường Mỹ Long', 1)
INSERT [dbo].[tblXa] ([ID], [TenXa], [IDHuyen]) VALUES (3, N'Phường Đông Xuyên', 1)
GO
ALTER TABLE [dbo].[tblChiTietHoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK_tblChiTietHoaDonBan_tblChiTietSP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[tblChiTietSP] ([MaSP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblChiTietHoaDonBan] CHECK CONSTRAINT [FK_tblChiTietHoaDonBan_tblChiTietSP]
GO
ALTER TABLE [dbo].[tblChiTietHoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK_tblChiTietHoaDonBan_tblDoTuoi] FOREIGN KEY([MaDoTuoi])
REFERENCES [dbo].[tblDoTuoi] ([IDNhomTuoi])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblChiTietHoaDonBan] CHECK CONSTRAINT [FK_tblChiTietHoaDonBan_tblDoTuoi]
GO
ALTER TABLE [dbo].[tblChiTietHoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK_tblChiTietHoaDonBan_tblHoaDonBan] FOREIGN KEY([MaHD])
REFERENCES [dbo].[tblHoaDonBan] ([MaHD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblChiTietHoaDonBan] CHECK CONSTRAINT [FK_tblChiTietHoaDonBan_tblHoaDonBan]
GO
ALTER TABLE [dbo].[tblChiTietHoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK_tblChiTietHoaDonBan_tblMauSac] FOREIGN KEY([MaMau])
REFERENCES [dbo].[tblMauSac] ([IDMauSac])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblChiTietHoaDonBan] CHECK CONSTRAINT [FK_tblChiTietHoaDonBan_tblMauSac]
GO
ALTER TABLE [dbo].[tblChiTietHoaDonNhap]  WITH CHECK ADD  CONSTRAINT [FK_tblChiTietHoaDonNhap_tblChiTietSP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[tblChiTietSP] ([MaSP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblChiTietHoaDonNhap] CHECK CONSTRAINT [FK_tblChiTietHoaDonNhap_tblChiTietSP]
GO
ALTER TABLE [dbo].[tblChiTietHoaDonNhap]  WITH CHECK ADD  CONSTRAINT [FK_tblChiTietHoaDonNhap_tblHoaDonNhap] FOREIGN KEY([MaHD])
REFERENCES [dbo].[tblHoaDonNhap] ([MaHD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblChiTietHoaDonNhap] CHECK CONSTRAINT [FK_tblChiTietHoaDonNhap_tblHoaDonNhap]
GO
ALTER TABLE [dbo].[tblChiTietSP]  WITH CHECK ADD  CONSTRAINT [FK_tblChiTietSP_tblNhomSP] FOREIGN KEY([IDNhomSP])
REFERENCES [dbo].[tblNhomSP] ([MaNhomSP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblChiTietSP] CHECK CONSTRAINT [FK_tblChiTietSP_tblNhomSP]
GO
ALTER TABLE [dbo].[tblGioHang]  WITH CHECK ADD  CONSTRAINT [FK_tblGioHang_tblChiTietSP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[tblChiTietSP] ([MaSP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblGioHang] CHECK CONSTRAINT [FK_tblGioHang_tblChiTietSP]
GO
ALTER TABLE [dbo].[tblGioHang]  WITH CHECK ADD  CONSTRAINT [FK_tblGioHang_tblDoTuoi] FOREIGN KEY([MaDoTuoi])
REFERENCES [dbo].[tblDoTuoi] ([IDNhomTuoi])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblGioHang] CHECK CONSTRAINT [FK_tblGioHang_tblDoTuoi]
GO
ALTER TABLE [dbo].[tblGioHang]  WITH CHECK ADD  CONSTRAINT [FK_tblGioHang_tblTaiKhoan] FOREIGN KEY([MaTK])
REFERENCES [dbo].[tblTaiKhoan] ([MaTK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblGioHang] CHECK CONSTRAINT [FK_tblGioHang_tblTaiKhoan]
GO
ALTER TABLE [dbo].[tblHoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK_tblHoaDonBan_tblTaiKhoan] FOREIGN KEY([MaTK])
REFERENCES [dbo].[tblTaiKhoan] ([MaTK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblHoaDonBan] CHECK CONSTRAINT [FK_tblHoaDonBan_tblTaiKhoan]
GO
ALTER TABLE [dbo].[tblHoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK_tblHoaDonBan_tblTinh] FOREIGN KEY([MaTinhThanh])
REFERENCES [dbo].[tblTinh] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblHoaDonBan] CHECK CONSTRAINT [FK_tblHoaDonBan_tblTinh]
GO
ALTER TABLE [dbo].[tblHoaDonNhap]  WITH CHECK ADD  CONSTRAINT [FK_tblHoaDonNhap_tblNhaCungCap] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[tblNhaCungCap] ([MaNCC])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblHoaDonNhap] CHECK CONSTRAINT [FK_tblHoaDonNhap_tblNhaCungCap]
GO
ALTER TABLE [dbo].[tblHoaDonNhap]  WITH CHECK ADD  CONSTRAINT [FK_tblHoaDonNhap_tblTaiKhoan] FOREIGN KEY([MaTK])
REFERENCES [dbo].[tblTaiKhoan] ([MaTK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblHoaDonNhap] CHECK CONSTRAINT [FK_tblHoaDonNhap_tblTaiKhoan]
GO
ALTER TABLE [dbo].[tblHuyen]  WITH CHECK ADD  CONSTRAINT [FK_tblHuyen_tblTinh] FOREIGN KEY([IDTinh])
REFERENCES [dbo].[tblTinh] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblHuyen] CHECK CONSTRAINT [FK_tblHuyen_tblTinh]
GO
ALTER TABLE [dbo].[tblNhomSP]  WITH CHECK ADD  CONSTRAINT [FK_tblNhomSP_tblMenu] FOREIGN KEY([MainMenuID])
REFERENCES [dbo].[tblMenu] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblNhomSP] CHECK CONSTRAINT [FK_tblNhomSP_tblMenu]
GO
ALTER TABLE [dbo].[tblSanPhamDoTuoi]  WITH CHECK ADD  CONSTRAINT [FK_SanPhamDoTuoi_tblChiTietSP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[tblChiTietSP] ([MaSP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblSanPhamDoTuoi] CHECK CONSTRAINT [FK_SanPhamDoTuoi_tblChiTietSP]
GO
ALTER TABLE [dbo].[tblSanPhamDoTuoi]  WITH CHECK ADD  CONSTRAINT [FK_SanPhamDoTuoi_tblDoTuoi] FOREIGN KEY([IDNhomTuoi])
REFERENCES [dbo].[tblDoTuoi] ([IDNhomTuoi])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblSanPhamDoTuoi] CHECK CONSTRAINT [FK_SanPhamDoTuoi_tblDoTuoi]
GO
ALTER TABLE [dbo].[tblSanPhamMauSac]  WITH CHECK ADD  CONSTRAINT [FK_tblSanPhamMauSac_tblChiTietSP] FOREIGN KEY([IDSanPham])
REFERENCES [dbo].[tblChiTietSP] ([MaSP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblSanPhamMauSac] CHECK CONSTRAINT [FK_tblSanPhamMauSac_tblChiTietSP]
GO
ALTER TABLE [dbo].[tblSanPhamMauSac]  WITH CHECK ADD  CONSTRAINT [FK_tblSanPhamMauSac_tblMauSac] FOREIGN KEY([IDMauSac])
REFERENCES [dbo].[tblMauSac] ([IDMauSac])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblSanPhamMauSac] CHECK CONSTRAINT [FK_tblSanPhamMauSac_tblMauSac]
GO
ALTER TABLE [dbo].[tblXa]  WITH CHECK ADD  CONSTRAINT [FK_tblXa_tblHuyen] FOREIGN KEY([IDHuyen])
REFERENCES [dbo].[tblHuyen] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblXa] CHECK CONSTRAINT [FK_tblXa_tblHuyen]
GO
USE [master]
GO
