<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ShopQuanAo2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DangNhapServlet</display-name>
    <servlet-name>DangNhapServlet</servlet-name>
    <servlet-class>controller.DangNhapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangNhapServlet</servlet-name>
    <url-pattern>/DangNhapServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DangXuatServlet</display-name>
    <servlet-name>DangXuatServlet</servlet-name>
    <servlet-class>controller.DangXuatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangXuatServlet</servlet-name>
    <url-pattern>/DangXuatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KhachHangTrangChuServlet</display-name>
    <servlet-name>KhachHangTrangChuServlet</servlet-name>
    <servlet-class>controller.KhachHangTrangChuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KhachHangTrangChuServlet</servlet-name>
    <url-pattern>/KhachHangTrangChuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuanTriTrangChuServlet</display-name>
    <servlet-name>QuanTriTrangChuServlet</servlet-name>
    <servlet-class>controller.QuanTriTrangChuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuanTriTrangChuServlet</servlet-name>
    <url-pattern>/QuanTriTrangChuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuanTriDanhSachSanPhamServlet</display-name>
    <servlet-name>QuanTriDanhSachSanPhamServlet</servlet-name>
    <servlet-class>controller.QuanTriDanhSachSanPhamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuanTriDanhSachSanPhamServlet</servlet-name>
    <url-pattern>/QuanTriDanhSachSanPhamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuanTriDanhSachNhomSanPhamServlet</display-name>
    <servlet-name>QuanTriDanhSachNhomSanPhamServlet</servlet-name>
    <servlet-class>controller.QuanTriDanhSachNhomSanPhamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuanTriDanhSachNhomSanPhamServlet</servlet-name>
    <url-pattern>/QuanTriDanhSachNhomSanPhamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuanTriThemSanPhamservlet</display-name>
    <servlet-name>QuanTriThemSanPhamservlet</servlet-name>
    <servlet-class>controller.QuanTriThemSanPhamservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuanTriThemSanPhamservlet</servlet-name>
    <url-pattern>/QuanTriThemSanPhamservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuanTriDanhSachChiTietHoaDonNhapServlet</display-name>
    <servlet-name>QuanTriDanhSachChiTietHoaDonNhapServlet</servlet-name>
    <servlet-class>controller.QuanTriDanhSachChiTietHoaDonNhapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuanTriDanhSachChiTietHoaDonNhapServlet</servlet-name>
    <url-pattern>/QuanTriDanhSachChiTietHoaDonNhapServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuanTriXoaSanPhamServlet</display-name>
    <servlet-name>QuanTriXoaSanPhamServlet</servlet-name>
    <servlet-class>controller.QuanTriXoaSanPhamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuanTriXoaSanPhamServlet</servlet-name>
    <url-pattern>/QuanTriXoaSanPhamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuanTriDanhSachKhachHangServlet</display-name>
    <servlet-name>QuanTriDanhSachKhachHangServlet</servlet-name>
    <servlet-class>controller.QuanTriDanhSachKhachHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuanTriDanhSachKhachHangServlet</servlet-name>
    <url-pattern>/QuanTriDanhSachKhachHangServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuanTriThemNhomSanPhamServlet</display-name>
    <servlet-name>QuanTriThemNhomSanPhamServlet</servlet-name>
    <servlet-class>controller.QuanTriThemNhomSanPhamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuanTriThemNhomSanPhamServlet</servlet-name>
    <url-pattern>/QuanTriThemNhomSanPhamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuanTriXoaNhomSanPhamServlet</display-name>
    <servlet-name>QuanTriXoaNhomSanPhamServlet</servlet-name>
    <servlet-class>controller.QuanTriXoaNhomSanPhamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuanTriXoaNhomSanPhamServlet</servlet-name>
    <url-pattern>/QuanTriXoaNhomSanPhamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NguoiDungLayDanhSachMenuParentServlet</display-name>
    <servlet-name>NguoiDungLayDanhSachMenuParentServlet</servlet-name>
    <servlet-class>controller.NguoiDungLayDanhSachMenuParentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NguoiDungLayDanhSachMenuParentServlet</servlet-name>
    <url-pattern>/NguoiDungLayDanhSachMenuParentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LimitServlet</display-name>
    <servlet-name>LimitServlet</servlet-name>
    <servlet-class>controller.LimitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LimitServlet</servlet-name>
    <url-pattern>/LimitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NguoiDungLayDanhSachQuanAoBeTraiServlet</display-name>
    <servlet-name>NguoiDungLayDanhSachQuanAoBeTraiServlet</servlet-name>
    <servlet-class>controller.NguoiDungLayDanhSachQuanAoBeTraiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NguoiDungLayDanhSachQuanAoBeTraiServlet</servlet-name>
    <url-pattern>/NguoiDungLayDanhSachQuanAoBeTraiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NguoiDungLayDanhSachSanPhamTheoMenuServlet</display-name>
    <servlet-name>NguoiDungLayDanhSachSanPhamTheoMenuServlet</servlet-name>
    <servlet-class>controller.NguoiDungLayDanhSachSanPhamTheoMenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NguoiDungLayDanhSachSanPhamTheoMenuServlet</servlet-name>
    <url-pattern>/NguoiDungLayDanhSachSanPhamTheoMenuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NguoiDungTimKiemServlet</display-name>
    <servlet-name>NguoiDungTimKiemServlet</servlet-name>
    <servlet-class>controller.NguoiDungTimKiemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NguoiDungTimKiemServlet</servlet-name>
    <url-pattern>/NguoiDungTimKiemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NguoiDungLayDanhSachSanPhamTheoGiaServlet</display-name>
    <servlet-name>NguoiDungLayDanhSachSanPhamTheoGiaServlet</servlet-name>
    <servlet-class>controller.NguoiDungLayDanhSachSanPhamTheoGiaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NguoiDungLayDanhSachSanPhamTheoGiaServlet</servlet-name>
    <url-pattern>/NguoiDungLayDanhSachSanPhamTheoGiaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NguoiDungLayDanhSachSPTheoNhomSPServlet</display-name>
    <servlet-name>NguoiDungLayDanhSachSPTheoNhomSPServlet</servlet-name>
    <servlet-class>controller.NguoiDungLayDanhSachSPTheoNhomSPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NguoiDungLayDanhSachSPTheoNhomSPServlet</servlet-name>
    <url-pattern>/NguoiDungLayDanhSachSPTheoNhomSPServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NguoiDungLayDanhSachSanPhamTheoGiaVaNhomServlet</display-name>
    <servlet-name>NguoiDungLayDanhSachSanPhamTheoGiaVaNhomServlet</servlet-name>
    <servlet-class>controller.NguoiDungLayDanhSachSanPhamTheoGiaVaNhomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NguoiDungLayDanhSachSanPhamTheoGiaVaNhomServlet</servlet-name>
    <url-pattern>/NguoiDungLayDanhSachSanPhamTheoGiaVaNhomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NguoiDungChonSanPhamServlet</display-name>
    <servlet-name>NguoiDungChonSanPhamServlet</servlet-name>
    <servlet-class>controller.NguoiDungChonSanPhamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NguoiDungChonSanPhamServlet</servlet-name>
    <url-pattern>/NguoiDungChonSanPhamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NguoiDungThemGioHangServlet</display-name>
    <servlet-name>NguoiDungThemGioHangServlet</servlet-name>
    <servlet-class>controller.NguoiDungThemGioHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NguoiDungThemGioHangServlet</servlet-name>
    <url-pattern>/NguoiDungThemGioHangServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NguoiDungXoaGioHangServlet</display-name>
    <servlet-name>NguoiDungXoaGioHangServlet</servlet-name>
    <servlet-class>controller.NguoiDungXoaGioHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NguoiDungXoaGioHangServlet</servlet-name>
    <url-pattern>/NguoiDungXoaGioHangServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NguoiDungDangKyServlet</display-name>
    <servlet-name>NguoiDungDangKyServlet</servlet-name>
    <servlet-class>controller.NguoiDungDangKyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NguoiDungDangKyServlet</servlet-name>
    <url-pattern>/NguoiDungDangKyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NguoiDungChiTietGioHangServlet</display-name>
    <servlet-name>NguoiDungChiTietGioHangServlet</servlet-name>
    <servlet-class>controller.NguoiDungChiTietGioHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NguoiDungChiTietGioHangServlet</servlet-name>
    <url-pattern>/NguoiDungChiTietGioHangServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NguoiDungSelectDiaChiServlet</display-name>
    <servlet-name>NguoiDungSelectDiaChiServlet</servlet-name>
    <servlet-class>controller.NguoiDungSelectDiaChiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NguoiDungSelectDiaChiServlet</servlet-name>
    <url-pattern>/NguoiDungSelectDiaChiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NguoiDungXacNhanMuaHangServlet</display-name>
    <servlet-name>NguoiDungXacNhanMuaHangServlet</servlet-name>
    <servlet-class>controller.NguoiDungXacNhanMuaHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NguoiDungXacNhanMuaHangServlet</servlet-name>
    <url-pattern>/NguoiDungXacNhanMuaHangServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NguoiDungMuaHangServlet</display-name>
    <servlet-name>NguoiDungMuaHangServlet</servlet-name>
    <servlet-class>controller.NguoiDungMuaHangServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NguoiDungMuaHangServlet</servlet-name>
    <url-pattern>/NguoiDungMuaHangServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NguoiDungHoaDonNhapServlet</display-name>
    <servlet-name>NguoiDungHoaDonNhapServlet</servlet-name>
    <servlet-class>controller.NguoiDungHoaDonNhapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NguoiDungHoaDonNhapServlet</servlet-name>
    <url-pattern>/NguoiDungHoaDonNhapServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NguoiDungChiTietHoaDonBanServlet</display-name>
    <servlet-name>NguoiDungChiTietHoaDonBanServlet</servlet-name>
    <servlet-class>controller.NguoiDungChiTietHoaDonBanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NguoiDungChiTietHoaDonBanServlet</servlet-name>
    <url-pattern>/NguoiDungChiTietHoaDonBanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuanTriDanhSachNhaCungCapServlet</display-name>
    <servlet-name>QuanTriDanhSachNhaCungCapServlet</servlet-name>
    <servlet-class>controller.QuanTriDanhSachNhaCungCapServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuanTriDanhSachNhaCungCapServlet</servlet-name>
    <url-pattern>/QuanTriDanhSachNhaCungCapServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuanTriSuaSanPhamServlet</display-name>
    <servlet-name>QuanTriSuaSanPhamServlet</servlet-name>
    <servlet-class>controller.QuanTriSuaSanPhamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuanTriSuaSanPhamServlet</servlet-name>
    <url-pattern>/QuanTriSuaSanPhamServlet</url-pattern>
  </servlet-mapping>
</web-app>