.tygh-content .ty-mainbox-body .gio-hang .danh-sach-gio-hang {
	border: 1px solid #f5d9ea;
}

.tygh-content .ty-mainbox-body .gio-hang .danh-sach-gio-hang td, th {
	border: 1px solid #f5d9ea;
	padding-top: 5px;
}
/*  */
.field {
	width: 25%;
	margin: 0 auto;
}

.field input {
	width: 55px;
	text-align: center;
}

.field button {
	width: 55px;
	height: 30px;
}

.btn-dathang {
	position: fixed;
	right: 2px;
	top: 93px;
	padding: 18px;
	border: none;
	background-color: #cd3591;
	color: #fff;
	border-radius: 50%;
}

.btn-dathang:hover {
	background: #bd0b77;
}
/* Thông tin người nhận popup  */
.popup {
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	padding: 0px;
	z-index: 21;
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
}

.popup-inner {
	width: 40%;
	height: 560px;
	top: 93px;
	left: 29%;
	position: relative;
	background: #fff;
	border-radius: 6px;
}

.popup-inner .popup-header {
	background: #cd3591;
	color: #fff;
	padding: 30px;
	padding-bottom: 7px;
	padding-top: 20px;
	border-radius: 6px 6px 0px 0px;
	text-transform: uppercase;
}

.popup-inner .popup-content {
	padding: 0px 30px;
}
.popup-inner .popup-content .ty-xacnhan{
	background-color: #6cad08;
}
.popup-inner .popup-content .ty-xacnhan:hover{
	background-color: #1c9826;
}
.popup-inner h2 {
	font-size: 23px;
	color:#fff;
}

.popup-inner input.check-input {
	width: 93%;
	height: 28px;
	padding-left: 15px;
	border-radius: 3px;
	border-top: 0px;
	border-left: 0px;
	border: 1px solid #ccc;
}
.popup-inner select {
	width: 93%;
	height: 28px;
	padding-left: 15px;
	border-radius: 3px;
	border-top: 0px;
	border-left: 0px;
	border: 1px solid #ccc;
}

.popup-inner .styleDisabled{
	background-color: #2a2d2f3d !important;
}
.popup-inner .styleDisabled:hover{
	background-color: #2a2d2f3d;
}

.popup-inner input:hover {
	border: 1px solid #ff9647 !important;
}

.popup-inner p {
	padding-top: 20px;
	padding-bottom: 0px;
	margin: 0px;
	font-size: 17px;
}

.popup-inner span {
	color: red;
	font-size: 13px;
	font-style: italic;
}

.popup-inner.xac-nhan {
	height: 520px;
}

.popup-inner.xac-nhan p {
	padding-top: 30px;
	font-size: 16px;
}

.popup-inner.xac-nhan span {
	font-style: italic;
	font-size: 15px;
	color: #000;
}

.popup-body {
	overflow: hidden;
}
